<header class="header">
  <div class="heading">
    <div class="nav">
      <div class="nav__left">
        <%= link_to '情報共有の「わ」', "/", class: "title" %>
      </div>
      <div class="nav__right">
        <%= link_to 'ログイン', "#", class: "login" %>
        <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
      </div>
    </div>
  </div>
</header>