<div class="post-header">
<div class="left-header">
    <div class="header-title">
      <%= @group.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "投稿する", new_group_post_path(@group.id) %>
    </div>
  </div>
</div>

<div class="posts">
  <%= render partial: 'shared/post', collection: @posts %>
</div>

<div class="form">
</div>