<div class="side-bar-header">
<div class="header-name">
    <a href="#">花山太郎</a>
  </div>
  <div class="back-group">
    <a href="#">グループ一覧へ戻る</a>
  </div>
</div>

<div class="members">
<div class="member">
    <div class="member-name">
      山田海子
    </div>
  </div>
  <div class="member">
    <div class="member-name">
      木本次郎
    </div>
  </div>
</div>