<div class="side-bar-header">
<div class="header-name">
    <%= link_to current_user.nickname, "#" %>
  </div>
  <div class="back-group">
    <%= link_to "グループ一覧へ戻る", groups_path %>
  </div>
</div>

<div class="members">
<% @group.users.each do |user| %>
<div class="member">
    <div class="member-name">
      <%= user.nickname %>
    </div>
  </div>
  <% end %>
</div>