<%= stylesheet_link_tag 'posts', :media => "all" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="post-group">
    <%= render "shared/main_post" %>
  </div>
</div>
