.wrapper {
  display: flex;
}
.side-bar {
  background-color: #2F3E51;
  width: 300px;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.back-group a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.members {
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.member {
  padding: 20px 0 40px;
}

.member-name {
  color: white;
}

.post-group {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.post-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: #253141 1px solid;
  color: white;
  padding: 20px;
  background-color: #38AEF0;
}

.posts {
  background-color: #FAFAFA;
  height: calc(100vh - 100px);
  padding: 46px 40px;
  overflow: scroll;
}

.post {
  margin: 10px 10px 40px;
  border: #6f7070 1px solid;
}

.upper-post {
  font-size: 28px;
  margin-left: 10px;
}

.upper-post a {
  color: #434a54;
} 

.post-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-post {
  display: flex;
  margin: 20px 0 0 10px;
}

.post-user {
  color: #434a54;
  font-size: 14px;
}

/* 情報投稿画面 */
.post-create-contents {
  background-color: #f5f5f5;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.post-create-header {
  padding: 5vh 0;
  text-align: center;
}

.post-create-main {
  background-color: #FFF;
  width: 40vw;
  padding: 10vh 15vw;
}

.post-create-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.post-create-footer {
  padding: 5vh 0;
  text-align: center;
}

.new-posts {
  padding: 2vh 0;
}

.new-posts-text {
  min-width: 170px;
  margin-bottom: 10px;
}

.indispensable {
  background: #ea352b;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold
}

.posts-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.posts-explain {
  margin-top: 2vh;
}

.create-btn-contents {
  width: 100%;
  text-align: center;
}

.create-btn {
  background: #113b7d;
  border: 1px solid #113b7d;
  color: #fff;
  width: 70%;
  height: 50px;
  font-size: 16px;
  margin: 4vh 0;
}

.back-btn {
  width: 30%;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.copyright {
  font-size: 13px;
}

/* 投稿詳細画面 */
.post-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0
}

.post-show-header {
  width: 100vw;
  padding-bottom: 5vh;
  text-align: left;
  font-size: 20px;
}

.post-show-header a {
  color: #333;
  margin-left: 10px;
  border-bottom: #333 1px solid;
}

.post-box {
  background-color: #FFF;
  width: 70vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center
}

.detail-table {
  margin-bottom: 30px;
  width: 70%;
  height: 40vh;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.detail-post {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 16px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
  overflow-wrap: break-all;
}

.post-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw
}

.or-text {
  font-size: 20px
}

.post-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw
}

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-btn {
  line-height: 48px;
  background-color: #57C3E9;
  border: 1px solid #57C3E9;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comments-container {
  width: 40vw;background-color: #FFF;
  margin-top: 20px;

}

.comments {
  padding: 5px;
  margin-top: 15px;
  background-color: #FFF;
}

.comments h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.comment {
  display: flex;
}

.user-info {
  color: #3a3b3a;
}

.comment p {
  word-break: break-all;
  margin: 0 3px;
}