/* 新規登録ページ*/
.registration-main {
  height: 100%;
  width: 100%;
  background-color: #eaf6fd;
  display: flex;
  justify-content: center
}

.form-wrap {
  width: 50%;
  background-color: white;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  letter-spacing: 0.05em;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 16px;
  letter-spacing: 0.05em;
}

::placeholder {
  color: #b5b5b5;
}

.indispensable {
  background: #ea352b;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 35px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 15px;
  resize: none

}

.info-text {
  color: #b5b5b5;
  font-size: 15px;
  margin-top: 3px
}

.register-btn {
  width: 50%;
  margin: 0 auto
}

.register-blue-btn {
  width: 100%;
  margin: 50px 0;
  background: #113b7d;
  border: 1px solid #113b7d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer
}

/* ログインページ */
.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px
}

.login-blue-btn {
  width: 100%;
  margin-bottom: 50px;
  background: #113b7d;
  border: 1px solid #113b7d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer
}

.login-flash-message {
  text-align: center;
  color: red
}

/* グループ一覧画面 */
.group-index-main {
  padding: 90px 0;
  background-color: #fafafa
}

.group-index-contents {
  width: 770px;
  margin: 0 auto;
}

.group-content {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
}

.group {
  width: 70px;
  height: 100%;
  background-color: #1C3667;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;
}

.group-member__num {
  width: 70px;
  height: 38px;
  margin: 20px auto 0;
  line-height: 38px;
  font-size: 26px;
  text-align: center;
}

.group-member__num span {
  font-size: 15px;
}

.group__unit {
  width: 70px;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
  text-align: center;
}

.group-detail {
  width: 630px;
  padding: 10px 15px;
  background-color: #FFFFFF;
  border: 1.0px #000000 solid;
  
}

.group-top {
  display: flex;
  justify-content: space-between;
}

.group-top__title {
  width: 500px;
  font-size: 16px;
  word-break: break-all;
}

.group-bottom {
  margin-top: 10px;
}

.group-bottom__content {
  font-size: 12px;
  word-break: break-all;
}

.group-join-btn {
  width: 70px;
  height: 70%;
  background-color: #ea352d;
  margin: auto auto auto 10px;
  text-align: center;
}

.group-join-text {
  font-size: 14px;
  margin-top: 25px;
}

.group-joing-btn {
  width: 70px;
  height: 70%;
  background-color: #bdbdbd;
  color: #000000;
  margin: auto auto auto 10px;
  text-align: center;
}

.group-joing-text {
  font-size: 14px;
  margin-top: 25px;
}

.join {
  color: #ffffff;
}

/* グループ作成画面 */
.group-create-contents {
  background-color: #f5f5f5;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.group-create-header {
  padding: 5vh 0;
  text-align: center;
}

.group-create-main {
  background-color: #FFF;
  width: 40vw;
  padding: 10vh 15vw;
}

.group-create-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.group-create-footer {
  padding: 5vh 0;
  text-align: center;
}

.new-groups {
  padding: 2vh 0;
}

.new-groups-text {
  min-width: 170px;
  margin-bottom: 10px;
}

.groups-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.groups-explain {
  margin-top: 2vh;
}

.form-any {
  background: #ccc;
  margin-left: 8px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.create-btn-contents {
  width: 100%;
  text-align: center;
}

.create-btn {
  background: #113b7d;
  border: 1px solid #113b7d;
  color: #fff;
  width: 70%;
  height: 50px;
  font-size: 16px;
  margin: 4vh 0;
}

.back-btn {
  width: 30%;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.copyright {
  font-size: 13px;
}